* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: grey;
}
main {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/ticket.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    margin: 25px 0;
}

#info {
    text-align: center;
    margin: 125px 0;
}